body
	{width:534px;
	height:300px;}
.TB
	{mso-special-format:nobullet\2022;}
.T
	{text-align:center;
	font-family:Arial;
	color:#1F497D;
	mso-color-index:3;
	font-size:191%;}
.BB
	{mso-special-format:bullet\2022;}
.B
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:139%;}
.B1B
	{mso-special-format:bulletC;}
.B1
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:121%;}
.B2B
	{mso-special-format:bullet\2022;}
.B2
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:104%;}
.B3B
	{mso-special-format:bulletC;}
.B3
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:86%;}
.B4B
	{mso-special-format:bullet\00BB;}
.B4
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:86%;}
.NB
	{mso-special-format:nobullet\2022;}
.N
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:52%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1B
	{mso-special-format:nobullet\2022;}
.N1
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:52%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2B
	{mso-special-format:nobullet\2022;}
.N2
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:52%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3B
	{mso-special-format:nobullet\2022;}
.N3
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:52%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4N
	{mso-special-format:nobullet\2022;}
.N4
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:Calibri;
	mso-fareast-font-family:宋体;
	mso-hansi-font-family:Calibri;
	color:black;
	mso-color-index:1;
	font-size:52%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet\2022;}
.O
	{text-align:left;
	font-family:"DejaVu Sans";
	mso-fareast-font-family:"DejaVu Sans";
	mso-bidi-font-family:"DejaVu Sans";
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:78%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1
	{font-family:"DejaVu Sans";
	mso-fareast-font-family:"DejaVu Sans";
	mso-bidi-font-family:"DejaVu Sans";
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2
	{font-family:"DejaVu Sans";
	mso-fareast-font-family:"DejaVu Sans";
	mso-bidi-font-family:"DejaVu Sans";
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3
	{font-family:"DejaVu Sans";
	mso-fareast-font-family:"DejaVu Sans";
	mso-bidi-font-family:"DejaVu Sans";
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4
	{font-family:"DejaVu Sans";
	mso-fareast-font-family:"DejaVu Sans";
	mso-bidi-font-family:"DejaVu Sans";
	mso-hansi-font-family:Arial;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet\2022;}
.default
	{text-align:left;
	font-family:宋体;
	mso-ascii-font-family:Arial;
	mso-fareast-font-family:宋体;
	mso-bidi-font-family:宋体;
	mso-hansi-font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:78%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-fareast-language:ZH-CN;}
a:link
	{color:blue !important;}
a:active
	{color:#C0504D !important;}
a:visited
	{color:purple !important;}
